parameters:
    locale: en
    locales: [en, fr, de]

    secret: ThisTokenIsNotSoSecretChangeIt

    # a little hack to avoid errors on missing node/coffeescript.
    # remove -disabled if you want coffee.
    coffee.extension: "\.coffee-disabled$"
    coffee.bin: ''
    coffee.node: ''

    database_driver: pdo_sqlite
    database_host:
    database_port:
    database_name:
    database_user:
    database_password:
    database_path: '%kernel.root_dir%/app.sqlite'

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
