parameters:
    phpcr_backend:
        type: doctrinedbal
        connection: default
#        caches:
#            meta: liip_doctrine_cache.ns.meta
#            nodes: liip_doctrine_cache.ns.nodes
    phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: admin
