{# special template without the sidebar #}
{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
<p><em>This is a template explicitly specified by a route</em></p>
{% createphp cmfMainContent as="rdf" %}
    {{ rdf|raw }}
{% endcreatephp %}
{{ parent() }}
{% endblock %}

{% block content_extra %}
{% endblock %}
