{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
<div class="hero-unit">
    <h1>Hello World!</h1>
    <p>This is a template used by the TestController found with a standard symfony route.</p>
</div>
{% endblock %}
