 {% extends 'CmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <div class="span3">
        <h2>{% trans %}cmf.action_block.title{% endtrans %}</h2>
        <p>{% trans %}cmf.action_block.body{% endtrans %}</p>
    </div>
{% endblock %}
